:root { 
--red_800_7f:#d11e1e7f; 
--red_800:#d11e1e; 
--light_green_A700:#4af451; 
--deep_purple_400:#8967aa; 
--blue_A200:#5b8af0; 
--red_400:#ea5a47; 
--green_700:#3b823e; 
--black_900_3f:#0000003f; 
--yellow_800:#f79e1b; 
--purple_900:#3e005b; 
--blue_gray_900_02:#333333; 
--blue_gray_900_01:#0c2651; 
--blue_gray_900_00:#34343400; 
--blue_gray_900:#343434; 
--red_A700:#eb001b; 
--yellow_800_01:#f1b31c; 
--gray_400:#c4c4c4; 
--blue_gray_100:#d9d9d9; 
--black_900_8c:#0000008c; 
--gray_800:#4c4c4c; 
--gray_700_7f:#506b527f; 
--blue_gray_900_cc:#343434cc; 
--white_A700:#ffffff; 
--indigo_800:#28387d; 
--green_700_19:#3b823e19; 
--gray_700_01:#666666; 
--red_700:#d22f27; 
--blue_gray_100_01:#d3d3d3; 
--green_800:#436e35; 
--green_600:#529054; 
--amber_A400:#ffc700; 
--light_blue_800:#006fcf; 
--black_900_21:#00000021; 
--green_700_21:#3b823e21; 
--yellow_500:#fcea2b; 
--black_900:#000000; 
--teal_800:#088c45; 
--blue_A200_01:#3395ff; 
--yellow_900:#f37a21; 
--blue_gray_800:#3e4958; 
--blue_gray_900_66:#34343466; 
--gray_700:#506b52; 
--orange_A700:#ff5f00; 
--gray_900:#01370c; 
--blue_gray_900_7f:#3434347f; 
--gray_300:#e2e4e5; 
--gray_100:#f0f5f0; 
--black_900_72:#00000072; 
--gray_700_21:#506b5221; 
--indigo_900:#1a1f71; 
--blue_gray_900_99:#34343499; 
}